<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h2>Inicio de Sesión</h2>
        <input type="text" id="player1" placeholder="Nombre del Player 1" class="form-control my-2">
        <input type="text" id="player2" placeholder="Nombre del Player 2" class="form-control my-2">
        <button class="btn btn-success mt-4" onclick="location.href='select-players.html'">Continuar</button>
        
    </div>
    <script src="../assets/js/login.js"></script>
    </body>
</html>